.app {
  display: flex;
  background-color: #262626;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-x: scroll;
  position: relative;
  padding: 3rem 0 3rem 2rem;
  gap: 1rem;
}
