$container-height: 600px;

.app {
  display: flex;
  background-color: #262626;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-x: scroll;
  position: relative;
  padding: 3rem 0 3rem 2rem;
  gap: 1rem;
  height: $container-height;
}

.app-container::after {
  content: '';
  width: 10px;
  height: calc(#{$container-height} - 18px);
  background: linear-gradient(170deg, #ff7a18, #df2c14 71.07%);
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -10px 0 20px 3px #000;
}
