$container-height: 600px;

.app {
  display: flex;
  background-color: #262626;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-x: scroll;
  position: relative;
  padding: 3rem 0 3rem 2rem;
  gap: 1rem;
  height: $container-height;

  &::-webkit-scrollbar {
    display: block;
    max-width: 25px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(97, 97, 97, 0.7), inset -2px -2px 2px rgba(97, 97, 97, 0.7);
  }
}

.app-container::after {
  content: '';
  width: 10px;
  height: calc(#{$container-height} - 16px);
  background: linear-gradient(170deg, hsla(25, 100%, 55%, 0.95), #df2c14d5 71.07%);
  border-radius: 1px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -10px 0 20px 3px #000;
}
